USE [master]
GO
/****** Object:  Database [LUG_TP_ESCUELA_DE_VUELO]    Script Date: 18/11/2024 19:16:05 ******/
CREATE DATABASE [LUG_TP_ESCUELA_DE_VUELO]
 CONTAINMENT = NONE

ALTER DATABASE [LUG_TP_ESCUELA_DE_VUELO] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LUG_TP_ESCUELA_DE_VUELO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LUG_TP_ESCUELA_DE_VUELO]
GO
/****** Object:  Table [dbo].[AERONAVE]    Script Date: 18/11/2024 19:16:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AERONAVE](
	[MATRICULA_AERONAVE] [varchar](50) NOT NULL,
	[MARCA_AERONAVE] [varchar](150) NULL,
	[MODELO_AERONAVE] [varchar](150) NULL,
	[REVISION_100HS] [decimal](18, 2) NULL,
	[FECHA_REVISION_ANUAL] [date] NULL,
	[ACTIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRICULA_AERONAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 18/11/2024 19:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NULL,
	[APELLIDO] [varchar](150) NULL,
	[NOMBRE] [varchar](150) NULL,
	[TELEFONO] [varchar](100) NULL,
	[TELEFONO_EMERGENCIA] [varchar](100) NULL,
	[EMAIL] [varchar](150) NULL,
	[BREVET] [varchar](150) NULL,
	[SALDO_HORAS] [decimal](18, 2) NULL,
	[ACTIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINALIDAD]    Script Date: 18/11/2024 19:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINALIDAD](
	[COD_FINALIDAD] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ACTIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_FINALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTOR]    Script Date: 18/11/2024 19:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTOR](
	[ID_INSTRUCTOR] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NULL,
	[BREVET] [varchar](150) NULL,
	[NOMBRE] [varchar](150) NULL,
	[APELLIDO] [varchar](150) NULL,
	[ACTIVO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INSTRUCTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 18/11/2024 19:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[NRO_FACTURA] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[CANTIDAD_HORAS] [decimal](18, 2) NULL,
	[VALOR_HORA] [decimal](18, 2) NULL,
	[MONTO_PAGO] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NRO_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VUELO]    Script Date: 18/11/2024 19:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VUELO](
	[COD_VUELO] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_VUELO] [date] NULL,
	[ID_INSTRUCTOR] [int] NULL,
	[ID_CLIENTE] [int] NULL,
	[MATRICULA_AERONAVE] [varchar](50) NULL,
	[COD_FINALIDAD] [varchar](50) NULL,
	[HORA_PM] [time](7) NOT NULL,
	[HORA_CORTE] [time](7) NOT NULL,
	[TV]  AS (case when datediff(minute,[HORA_PM],[HORA_CORTE])>=(0) then datediff(minute,[HORA_PM],[HORA_CORTE])/(60)+case when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(2) then (0) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(8) then (0.1) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(14) then (0.2) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(20) then (0.3) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(26) then (0.4) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(33) then (0.5) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(39) then (0.6) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(45) then (0.7) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(51) then (0.8) when datediff(minute,[HORA_PM],[HORA_CORTE])%(60)<=(57) then (0.9) else (1) end  end),
	[HUB_INICIAL] [decimal](10, 2) NULL,
	[HUB_FINAL] [decimal](10, 2) NULL,
	[HUB_DIFF]  AS (case when [HUB_FINAL]>[HUB_INICIAL] then ([HUB_FINAL]-[HUB_INICIAL])-(0.2) else (0) end),
PRIMARY KEY CLUSTERED 
(
	[COD_VUELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AERONAVE] ([MATRICULA_AERONAVE], [MARCA_AERONAVE], [MODELO_AERONAVE], [REVISION_100HS], [FECHA_REVISION_ANUAL], [ACTIVO]) VALUES (N'LV-A001', N'Cessna', N'152', CAST(95.00 AS Decimal(18, 2)), CAST(N'2024-01-15' AS Date), 1)
INSERT [dbo].[AERONAVE] ([MATRICULA_AERONAVE], [MARCA_AERONAVE], [MODELO_AERONAVE], [REVISION_100HS], [FECHA_REVISION_ANUAL], [ACTIVO]) VALUES (N'LV-B002', N'Piper', N'PA-28', CAST(30.00 AS Decimal(18, 2)), CAST(N'2024-02-20' AS Date), 1)
INSERT [dbo].[AERONAVE] ([MATRICULA_AERONAVE], [MARCA_AERONAVE], [MODELO_AERONAVE], [REVISION_100HS], [FECHA_REVISION_ANUAL], [ACTIVO]) VALUES (N'LV-C003', N'Beechcraft', N'Bonanza', CAST(10.00 AS Decimal(18, 2)), CAST(N'2024-03-25' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [DNI], [APELLIDO], [NOMBRE], [TELEFONO], [TELEFONO_EMERGENCIA], [EMAIL], [BREVET], [SALDO_HORAS], [ACTIVO]) VALUES (1, 12345678, N'Gomez', N'Juan', N'1234567', N'7654321', N'juan.gomez@example.com', 'B001', CAST(-10 AS Decimal(18, 2)), 1)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [DNI], [APELLIDO], [NOMBRE], [TELEFONO], [TELEFONO_EMERGENCIA], [EMAIL], [BREVET], [SALDO_HORAS], [ACTIVO]) VALUES (2, 87654321, N'Martinez', N'Ana', N'2345678', N'8765432', N'ana.martinez@example.com', 'B002', CAST(-15 AS Decimal(18, 2)), 1)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [DNI], [APELLIDO], [NOMBRE], [TELEFONO], [TELEFONO_EMERGENCIA], [EMAIL], [BREVET], [SALDO_HORAS], [ACTIVO]) VALUES (3, 11223344, N'Perez', N'Luis', N'3456789', N'9876543', N'luis.perez@example.com', 'B003', CAST(-8 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
INSERT [dbo].[FINALIDAD] ([COD_FINALIDAD], [DESCRIPCION], [ACTIVO]) VALUES (N'F001', N'Entrenamiento básico', 1)
INSERT [dbo].[FINALIDAD] ([COD_FINALIDAD], [DESCRIPCION], [ACTIVO]) VALUES (N'F002', N'Entrenamiento avanzado', 1)
INSERT [dbo].[FINALIDAD] ([COD_FINALIDAD], [DESCRIPCION], [ACTIVO]) VALUES (N'F003', N'Vuelo de recreo', 1)
GO
SET IDENTITY_INSERT [dbo].[INSTRUCTOR] ON 

INSERT [dbo].[INSTRUCTOR] ([ID_INSTRUCTOR], [DNI], [BREVET], [NOMBRE], [APELLIDO], [ACTIVO]) VALUES (1, 34567890, N'B001', N'Raul', N'Perez', 1)
INSERT [dbo].[INSTRUCTOR] ([ID_INSTRUCTOR], [DNI], [BREVET], [NOMBRE], [APELLIDO], [ACTIVO]) VALUES (2, 45678901, N'B002', N'Carlos', N'Lopez', 1)
INSERT [dbo].[INSTRUCTOR] ([ID_INSTRUCTOR], [DNI], [BREVET], [NOMBRE], [APELLIDO], [ACTIVO]) VALUES (3, 56789012, N'B003', N'Laura', N'Gomez', 1)
SET IDENTITY_INSERT [dbo].[INSTRUCTOR] OFF
GO
INSERT [dbo].[PAGO] ([NRO_FACTURA], [ID_CLIENTE], [CANTIDAD_HORAS], [VALOR_HORA], [MONTO_PAGO]) VALUES (1001, 1, CAST(2 AS Decimal(18, 2)), CAST(150 AS Decimal(18, 2)), CAST(300 AS Decimal(18, 2)))
INSERT [dbo].[PAGO] ([NRO_FACTURA], [ID_CLIENTE], [CANTIDAD_HORAS], [VALOR_HORA], [MONTO_PAGO]) VALUES (1002, 2, CAST(3 AS Decimal(18, 2)), CAST(150 AS Decimal(18, 2)), CAST(450 AS Decimal(18, 2)))
INSERT [dbo].[PAGO] ([NRO_FACTURA], [ID_CLIENTE], [CANTIDAD_HORAS], [VALOR_HORA], [MONTO_PAGO]) VALUES (1003, 3, CAST(1 AS Decimal(18, 2)), CAST(150 AS Decimal(18, 2)), CAST(150 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[VUELO] ON 

INSERT [dbo].[VUELO] ([COD_VUELO], [FECHA_VUELO], [ID_INSTRUCTOR], [ID_CLIENTE], [MATRICULA_AERONAVE], [COD_FINALIDAD], [HORA_PM], [HORA_CORTE], [HUB_INICIAL], [HUB_FINAL]) VALUES (1, CAST(N'2024-10-01' AS Date), 1, 1, N'LV-A001', N'F001', CAST(N'08:00:00' AS Time), CAST(N'09:30:00' AS Time), CAST(100.00 AS Decimal(10, 2)), CAST(100.40 AS Decimal(10, 2)))
INSERT [dbo].[VUELO] ([COD_VUELO], [FECHA_VUELO], [ID_INSTRUCTOR], [ID_CLIENTE], [MATRICULA_AERONAVE], [COD_FINALIDAD], [HORA_PM], [HORA_CORTE], [HUB_INICIAL], [HUB_FINAL]) VALUES (2, CAST(N'2024-10-02' AS Date), 2, 2, N'LV-B002', N'F002', CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), CAST(120.45 AS Decimal(10, 2)), CAST(120.50 AS Decimal(10, 2)))
INSERT [dbo].[VUELO] ([COD_VUELO], [FECHA_VUELO], [ID_INSTRUCTOR], [ID_CLIENTE], [MATRICULA_AERONAVE], [COD_FINALIDAD], [HORA_PM], [HORA_CORTE], [HUB_INICIAL], [HUB_FINAL]) VALUES (3, CAST(N'2024-10-03' AS Date), 3, 3, N'LV-C003', N'F003', CAST(N'13:00:00' AS Time), CAST(N'14:30:00' AS Time), CAST(130.21 AS Decimal(10, 2)), CAST(131.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[VUELO] OFF
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD FOREIGN KEY([COD_FINALIDAD])
REFERENCES [dbo].[FINALIDAD] ([COD_FINALIDAD])
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD FOREIGN KEY([ID_INSTRUCTOR])
REFERENCES [dbo].[INSTRUCTOR] ([ID_INSTRUCTOR])
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD FOREIGN KEY([MATRICULA_AERONAVE])
REFERENCES [dbo].[AERONAVE] ([MATRICULA_AERONAVE])
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD  CONSTRAINT [HUB_CHECK] CHECK  (([HUB_FINAL]>[HUB_INICIAL]))
GO
ALTER TABLE [dbo].[VUELO] CHECK CONSTRAINT [HUB_CHECK]
GO
ALTER TABLE [dbo].[VUELO]  WITH CHECK ADD  CONSTRAINT [NECESITO_PILOTO] CHECK  ((NOT ([ID_INSTRUCTOR] IS NULL AND [ID_CLIENTE] IS NULL)))
GO
ALTER TABLE [dbo].[VUELO] CHECK CONSTRAINT [NECESITO_PILOTO]
GO
USE [master]
GO
