<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=LUG_TP_ESCUELA_DE_VUELO;Integrated Security=True;Connect Timeout=30;" />
    </connectionStrings>
</configuration>